<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">  -->
  <!-- bg-dark-subtle -->
  <nav class="navbar navbar-expand-lg bg-dark-subtle sticky-top "> 
    <!-- <nav class="navbar navbar-expand-lg bg-dark-subtle fixed-top">  -->
      <div class="container-fluid">
  
        <a class="navbar-brand" routerLink="/inicio" routerLinkActive="router-link-active" >
          <div class=".card-border">
            <img src="../../../../assets/logo-rojo.png" alt="" width="95" height="40">
          </div>
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="offcanvas offcanvas-start w-75" id="navbarSupportedContent" tabindex="-1" aria-labelledby="navbarSupportedContentLabel">
          
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarSupportedContentLabel">Menu</h5>
            <!--aqui-->
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
  
          <div class="offcanvas-body">
            <ul class="navbar-nav align-items-lg-center" *ngFor="let item of menuItems">
    
              <li class="nav-item" [routerLink]="item.route" *ngIf="!item.isDropdown; else esDropdown">
                <!--agregamos data-bs-dismiss="offcanvas" aria-label="Close" para ocultar el offcanvas-->
                <!-- <a class="nav-link active fs-5" aria-current="page" href="#" routerLinkActive="active">{{ item.title }}</a> -->
                <a class="nav-link active fs-5" aria-current="page" href="#" routerLinkActive="active" data-bs-dismiss="offcanvas" aria-label="Close">{{ item.title }}</a>
              </li>
    
              <ng-template #esDropdown>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.title }}</a>
                  <ul *ngIf="item.isDropdown" class="dropdown-menu">
                    <li *ngFor="let dropdownItem of item.dropdownItems">
                      <!--agregamos: data-bs-dismiss="offcanvas" aria-label="Close" para ocultar el offcanvas cuando se cambia de ruta-->
                      <!-- <a [routerLink]="item.route+'/'+dropdownItem.route" class="dropdown-item" routerLinkActive="active" >{{ dropdownItem.title }}</a> -->
                      <a [routerLink]="item.route+'/'+dropdownItem.route" class="dropdown-item" routerLinkActive="active" data-bs-dismiss="offcanvas" aria-label="Close">{{ dropdownItem.title }}</a>
                    </li>
                  </ul>
                </li>
              </ng-template>
    
            </ul>
  
            <ul class="navbar-nav ms-auto">
              <!--
                Usando routerLink="../autentificacion/perfil" para la navegación en el menú. Esto implica una navegación relativa, y si te encuentras en una URL como http://localhost:4200/administracion/producto, la navegación relativa irá a http://localhost:4200/administracion/autentificacion/perfil, lo cual podría no ser lo que deseas.
  
                Para solucionar este problema y asegurarnos de que siempre navegamos a la ruta completa independientemente de la URL actual, podemos utilizar una ruta absoluta. Puedes usar una barra diagonal inicial (/) en la ruta para indicar que debe comenzar desde la raíz del sitio.
              -->
  
              <!-- <li class="nav-item pe-2" routerLink="/autentificacion/perfil">
                <a class="nav-link" aria-current="page"><i class="bi bi-person-circle d-none d-lg-block fs-3"></i> <span class="bi d-lg-none fs-5">Perfil</span></a>
              </li> -->
  
  
              <!-- Default dropstart button -->
              <div class="btn-group dropstart">
                <li class="nav-item pe-2" data-bs-toggle="dropdown" aria-expanded="false">
                  <a class="nav-link" aria-current="page"><i class="bi bi-person-circle d-none d-lg-block fs-3"></i> <span class="bi d-lg-none fs-5">Usuario</span></a>    
                </li>
                <!-- <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropstart
                </button> -->
                <ul class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <li><a class="dropdown-item" routerLink="/autentificacion/perfil">Perfil</a></li>
                  <li><a class="dropdown-item" routerLink="/autentificacion/login">Autentificacion</a></li>
                  <!--<li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesion</a></li>-->
                </ul>
              </div>
  
              <div>
                <a routerLink="/info" class="nav-link" aria-current="page"><i class="bi bi-question-circle-fill  d-none d-lg-block fs-3"></i> <span class="bi d-lg-none fs-5">Detalles</span></a>
              </div>
  
            </ul>
  
          </div>
        </div>
      </div>
  </nav>