<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{(idCabecera)?"Modificación de Menú": "Nuevo Menú"}}</h2>
        </div>
    </div>

    <form class="row g-3" [formGroup]="formHead">
        <div class="col-12">
            <h6>Datos del Menu</h6>
        </div>
        <div class="col-md-6">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" formControlName="fecha">
        </div>

        <div class="col-md-6">
            <button type="button" class="btn btn-danger" (click)="saveMenu()">Enviar</button>
        </div>

        <div class="col-12">
            <label for="observacionMenu" class="form-label">Observación</label>
          <input type="text" class="form-control" id="observacionMenu" formControlName="observacion">
        </div>

      </form>

    <form class="row g-3" [formGroup]="formDetail">
        <div class="col-12">
            <h6>Datos del Producto</h6>
        </div>
        <div class="col-md-6">
            <label for="idproducto" class="form-label">Id</label>
            <input type="text" class="form-control" id="idproducto" formControlName="idproducto">
        </div>

        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>

        <div class="col-12">
            <label for="observacionProducto" class="form-label">Observación</label>
          <input type="text" class="form-control" id="observacionProducto" formControlName="observacion">
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="addProductMenu()">{{(action==='Create')?'Añadir':'Modificar'}}</button>
          <button type="button" class="btn btn-secondary">Buscar</button>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
            <h6>Productos agregados al Menú</h6>
        </div>

        <div class="col-12">        
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Observacion</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productsMenu">
                        <td>{{p.idproducto}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.observacion}}</td>
                        <td><button class="btn btn-warning" (click)="modifyProductMenu(p)">Mod</button></td>
                        <td><button class="btn btn-danger" (click)="remove(p.idproducto)">Elim</button></td>    
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>


<app-search-product
[products]="products"
(selected)="setProductSelected($event)"
></app-search-product>