<div class="container">
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let p of products" (dblclick)="select(p)">
                        <td>{{p.idProducto}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.precio}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>